@import 'bootstrap';
@import 'jquery.jqplot.min';

li {
  padding-bottom: 30px;
  font-size: 16px;
}
div.response {
  padding-top: 15px;
}
body {
  padding-bottom: 50px;
}
footer {
  margin-top: 60px;
  font-size: 85%;
}
