---
title: Clance Impostor Phenomenon Score
---

:coffeescript
  App.questions = (#{data.questions.to_json}).questions


%h1 Clance Impostor Phenomenon Test
.content
  %p For each question, please select the answer that best indicates how true the statement is of you. It's best to give the first response that enters your mind rather than dwelling on each statement and thinking about it over and over.

  %form{id: 'impostor_test'}
    #questions
      %ol
      %button{type: 'submit', id: 'calculate', class: 'btn btn-primary'} Submit
